{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "minify": {
      "compress": true,
      "mangle": {
        "keepFnNames": false,
        "reserved": ["handler"]
      }
    }
  }
}
